* {
    margin: 0;
    padding: 0;

}

.main {
    width: 100%;
    background: linear-gradient( to top, rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%), url(img/portada2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar {
    width: 1400px;
    height: 75px;
    margin: auto;
}
.icon {
    width:200px;
    float:left;
    height:70px;
}

.logo {
    color: rgb(212, 95, 5);
    font-size: 25px;
    font-family: Arial;
    padding: 30px;
    float: left;
}
.menu {
    width:600px;
    float:right;
    height:70px;
}
ul {
    float: right;
    display: flex;
    justify-content:center;
    align-items:center;

}
ul li {
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: rgb(212, 95, 5);
}